body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #randomizeBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    padding:   
   20px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    color: darkgoldenrod;
  }
  
  
  #result img {
    max-width: 100%;
    height: auto;
  }